body{
  background-image:url(images/fond.jpg);
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  color: #f9dbbd;
  text-align: center;
}

h1{
  color: white;
  font-weight: bolder;
  font-size: 30px;
  text-align: center;

}

h2 {
  color: #16425b;
  font-weight: lighter;
  font-size: 25px;
}

a {
  color: #ffa5ab;
}

p {
  color: #f9dbbd;
  font-size: 15px;
}

a:hover {
  text-decoration: none;
  color: white;
}



#banner {
  padding: 100px;
  margin-bottom: 10px;
  /*text-shadow: 1px 2px 3px lightgrey;*/
  background-image:url(images/joy.jpeg);
  background-size: cover;
}

#banner h1{
  font-size: 50px;
}

#banner p{
  font-size: 20px;
}

.card {
  text-align: center;
  /*background-color: #b8d3d1;
  border-radius: 10px;*/
  padding: 20px;
}

